// colors
$toska : #3cf2bb;
$light-font : #fff;
$dark-font : #000;
$main-color : red;
$grey : grey;
$grey-light : #C7C6C6;

$main-bg : #F4F4F4;

//
$header-height : 70px;
$logo-height : 50px;
$content-page-height : calc(100vh - 70px);
